// 1. Angular Material SIEMPRE debe ir primero
@use '@angular/material' as mat;

// 2. Importamos Tailwind de forma nativa
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// 3. Configuración de tu Tema
html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    // Le decimos a Material que use nuestra nueva fuente
    typography: Inter,
    density: 0,
  ));
}

body {
  margin: 0;
  height: 100%;
}

// ==========================================
// 4. TECH SOLUTIONS DESIGN SYSTEM
// Clases reutilizables para toda la app (Fase 3)
// ==========================================
@layer components {
  
  /* Tarjetas (Para el Dashboard y Resumen) */
  .ui-card {
    @apply bg-white dark:bg-surface-paper rounded-xl border border-gray-100 dark:border-surface-border shadow-sm transition-colors duration-300;
  }

  /* Botón Principal (Azul) */
  .ui-btn-primary {
    @apply bg-brand-primary hover:bg-brand-primaryHover text-white font-medium py-3 px-4 rounded-lg transition-colors flex justify-center items-center gap-2 disabled:opacity-50 disabled:cursor-not-allowed;
  }

  /* Cajas de Texto (Inputs) */
  .ui-input {
    @apply w-full px-4 py-3 rounded-lg border border-gray-300 dark:border-surface-border bg-white dark:bg-[#151822] text-gray-900 dark:text-white focus:ring-2 focus:ring-brand-primary focus:border-transparent outline-none transition-all;
  }

  /* Etiquetas de Texto (Labels) */
  .ui-label {
    @apply text-sm font-medium text-gray-700 dark:text-gray-300 mb-1 block;
  }
}